body{
  font-family: "Inter";
}

.header{
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  gap: 10px;
}

.header-icon {
  color: rgb(246, 240, 240);
  font-size: 50px;
}

.header-title{
  color: white;
  font-size: 40px;
  font-weight: 500px;
}

.japan-container{
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  height: 400px;
  padding: 50px;
}

.mount-fuji{
  flex: 1;
  height: 350px;
  width: 300px;
  border-radius: 10px;
}

.about-mount-fuji{
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: white;
}