body{
  font-family: "Inter";
}

.header{
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  gap: 10px;
}

.header-icon {
  color: rgb(246, 240, 240);
  font-size: 50px;
}

.header-title{
  color: white;
  font-size: 40px;
  font-weight: 500px;
}

.country-container{
  background-color: rgb(225, 224, 224);
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 50px;
}

.place-pic{
  height: 350px;
  width: 300px;
  border-radius: 10px;
}

.about-place{
  display: flex;
  flex-direction: column;
  height: 300px;
  padding-left: 30px;
}

.location{
  display: flex;
  align-items: center;
  gap: 20px;
}

.location-icon{
  size: 30px; 
  color: red;
}

.country-name{
  font-weight: 500;
}

.google-maps-link{
  color: gray;
  cursor: pointer;
}

.place-name{
  height: 90px;
  font-size: 20px;
  padding-top: 0px;
}

.start-end-date{
  display: flex;
  gap: 10px;
  font-weight: 300;
}

.start-end-date h3{
  margin-top: 10px;
  margin-bottom: 10px;
}

.description h4{
  font-weight: 500;
  max-width: 350px;
  margin: 0px;
  line-height: 1.5;
}